<h1>About Me: Shenae</h1>
<ul>
    <li>I have 3 cats!</li>
    <li>I live in Brooklyn</li>
    <li>I am enrolled at General Assembly for their Software Engineering Immersion Program.</li>
<p>Find me in app/views/about/index.html.erb</p>
